<div class="form-group">
    <label class="col-xs-3 control-label">Issue</label>

    <div class="col-xs-9">

        <angucomplete placeholder="Jira issue"
                      pause="100"
                      selectedobject="jiraIssue"
                      url="{{pickUrl}}"
                      searchfields="key"
                      titlefield="key"
                      descriptionfield="summary"
                      minlength="1"
                      imagetitlefield="img"
                      imagetitlehost="{{jiraHostUrl}}"
                      inputclass="form-control form-control-small"/>
    </div>
</div>

<div class="form-group">
    <div class="col-xs-3">
    </div>
    <div class="col-xs-9">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="restartServerAfterImport">
                Restart server after import
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="overwriteAlreadyExported">
                Overwrite already exported
            </label>
        </div>
    </div>
</div>

<div class="form-group" ng-if="errorResult">
    <div class="col-xs-3">
    </div>
    <div class="col-xs-9">
        <div class="alert alert-danger" role="alert">
            {{errorResult}}
        </div>
    </div>
</div>

<div class="form-group" ng-if="successResult">
    <div class="col-xs-3">
    </div>
    <div class="col-xs-9">
        <div class="alert alert-success" role="alert">
            {{successResult}}
        </div>
    </div>
</div>

<div class="form-group" ng-if="status">
    <div class="col-xs-3">
    </div>
    <div class="col-xs-9">
        <div class="alert alert-warning" role="alert">
            {{status}}
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <div class="pull-right">
            <button class="btn btn-primary" ng-click="importSnapshot()"
                    ng-disabled="isImportDisabled()">Import
            </button>
            <button class="btn btn-warning" ng-click="exportSnapshot()"
                    ng-disabled="isExportDisabled()">Export
            </button>
        </div>
    </div>
</div>